{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Product -->
{% block title %}
Post_detail
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
{% if post_detail %}
    <table>
        <tr>
            <td><h2>Заголовок</h2></td>
            <td><h2>{{post_detail.title}}</h2></td>
            <td>Дата публикации</td>
            <td>{{post_detail.date_time|date:'d.m.Y'}}</td>
        <tr>
            <td><h2>Текст</h2></td>
            <td>{{post_detail.text}}</td>
        </tr>
    </table>
{% else %}
<h2>Dosvidania!</h2>
{% endif %}
{% endblock content %}
